---

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import devLogo from '../img/developer.svg';

---

<html lang="en">
	<head>
		<MainHead title="Lord Linux: Full Stack Developer" description="Lord Linux: Developer, streamer and coder." />
	</head>
	<body>
		<Nav />
		<header class="flex gap-5 justify-around items-center">
			<div class="p-5 p5">
				<h1 class="text-4xl font-bold">
					!Hola! Soy Lord Linux
				</h1>
				<h2 class="text-2xl text-violet-600 mt-2">
					Full Stack Developer
				</h2>
				<p class="text-sm mt-2 font-light">
					Desarrollador full stack enfocado en javascript, java, go, python y Linux
				</p>
				<div class="mt-5">
					<a href="" class="bg-violet-600 p-3 rounded-full text-white">Descargar CV</a>
				</div>
			</div>
			<div class="p-5 hidden sm:hidden md:flex lg:flex xl:flex 2xl:flex">
				<img src={devLogo} alt="">
			</div>
		</header>
		

	</body>
</html>
